.bg-header {
    background-color: steelblue;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
}
.bg-home {
    background: linear-gradient(180deg, #20b2aa 0%, #fff 100%);
}
.bg-products {
    background-color: grayscale($color: #bdbdbd);
}
